// Micro clearfix
// http://nicolasgallagher.com/micro-clearfix-hack/
//
// 1. The space content is one way to avoid an Opera bug when the
//    `contenteditable` attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of the
//    element.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.

@mixin cf {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }

  &:after {
    clear: both;
  }
}



@function to-em($value: 16px, $context: 16px) {

  @if (unit($value) != "px" or unit($context) != "px") {
    @warn "both $value and $context must be expressed in px";
  }

  @return ($value / $context) * 1em;
}



@mixin squish-text {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}
