.wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  // Better word-breaks, see:
  //  https://developer.mozilla.org/en-US/docs/Web/CSS/word-break#values
  word-break: normal;
  overflow-wrap: anywhere;
}

.section {
  margin-bottom: $spacer-4;
  & + & {
    margin-top: 30px;
  }
}


.l-constrain {
  max-width: 600px;
  margin: 0 auto;
}

.l-fixedColumn {
  width: 100%;
  @include respond(lg) {
    display: flex;

    .l-fixedColumn-main {
      flex: 1 1 auto;
      padding-left: $spacer-4;
      padding-right: $spacer-4;
      min-width: 0;
    }

    .l-fixedColumn-column {
      flex: 0 0 auto;
      width: 400px;
      padding-left: $spacer-4;
      padding-right: $spacer-4;
    }
  }
}

.l-fixedColumn hr {
  margin: $spacer-5 -1*$spacer-4 $spacer-5 -1*$spacer-4;
  border-top: 1px solid $gray-300;
}
