.l-constrain {
  max-width: 600px;
  margin: 0 auto;
}

.l-fixedColumn {
  @include cf;

  @include respond(to-em(800px)) {

    .l-fixedColumn-main {
      box-sizing: border-box;
      float: left;
      width: calc(100% - 300px);
      margin-right: 300px;
      padding-right: 30px;
      padding-left: 20px;
      border-right: 1px solid $pal-gray90;
    }

    .l-fixedColumn-column {
      box-sizing: border-box;
      width: 300px;
      float: left;
      margin-left: -301px;
      padding-left: 30px;
      border-left: 1px solid $pal-gray90;
    }

  }
}

.l-fixedColumn-separator {
  margin: 35px -30px 35px -20px;
  border-top: 1px solid $pal-gray90;
}

.mt-5 {
  margin-top: 5px;
}