// Direct overrides or adjustments on Boostrap classes
// ==========================================================================

.navbar {
  margin-bottom: 0;
}

.form-control {
  color: $pal-gray30;

  &:focus {
    box-shadow: none !important;
  }
}

.form-group {
  // Keeping the spacing but only between siblings
  margin-bottom: 0;

  & + & {
    margin-top: 25px;
  }

  & > .checkbox:first-child {
    margin-top: 0;
  }

  label {
    color: $pal-gray40;
  }
}

.label-info {
  background-color: $pal-accent;
}
