.link-muted {
  color: $gray-650;

  @include hover {
    color: $link-color;
  }
}

.f1 {
  font-size: $font-size-exa;
  line-height: $line-height-sm;
}

.f2 {
  font-size: $font-size-peta;
  line-height: $line-height-sm;
}

.f3 {
  font-size: $font-size-tera;
  line-height: $line-height-sm;
}

.f4 {
  font-size: $font-size-giga;
  line-height: $line-height-sm;
}


h1, .t1 {
  font-size: $h1-font-size;
  line-height: $line-height-sm;
}

h2, .t2 {
  font-size: $h2-font-size;
  line-height: $line-height-sm;
}

h3, .t3 {
  font-size: $h3-font-size;
  line-height: $line-height-sm;
}

h4, .t4 {
  font-size: $h4-font-size;
  line-height: $line-height-sm;
}

h5, .t5 {
  font-size: $h5-font-size;
  line-height: $line-height-sm;
}

h6, .t6 {
  font-size: $h6-font-size;
  line-height: $line-height-sm;
}

.t-sm {
  font-size: $font-size-sm;
}


hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}

small,
.small {
  font-size: 80%;
  font-weight: $font-weight-normal;
}

mark,
.mark {
  padding: .2em;
  background-color: $mark-bg;
}


.formatted {
  white-space: pre-wrap;
}


.copy {
  h1, h2, h3, h4, h5, h6 {
    margin: 1.3em 0 0.5em 0;
  }

  p {
    margin: 1em 0;
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}