@import "functions";

@import "settings";

@import "mixins/hover";
@import "mixins/caret";
@import "mixins/responsive";
@import "mixins/utils";

@import "reboot";

@import "type";

@import "addons/ember-basic-dropdown";
@import "ember-power-calendar";

@import "base/button";
@import "base/forms";
@import "base/forms-custom";
@import "base/forms-validation";
// @import "base/dropdown";
@import "base/modal";
@import "base/utilities";
@import "base/alert";

@import "layout";

@import "modules/icon";
@import "modules/datepicker";
@import "modules/fieldGroup";
@import "modules/tabs";
@import "modules/statusTabs";
@import "modules/filters";
@import "modules/ticket";
// @import "modules/grid";
@import "modules/activity";
@import "modules/ticketContent";
@import "modules/editableList";
@import "modules/pg";
@import "modules/dd";
@import "modules/list";
@import "modules/activeFilters";
@import "modules/tag";
@import "modules/attachments";
@import "modules/titleBar";
@import "modules/staffList";

@import "modules/spinner";
@import "modules/blankSlate";
@import "modules/editZone";

.loading-slider {
  // render over the old nav
  z-index: $zindex-loading-slider;

  span {
    background-color: lighten(theme-color("primary"), 5%);
  }
}

// Old navbar >_>

@import "meh";

.navbar {
  position: relative;
  min-height: 50px;
  border-bottom: 1px solid #d0d8dd !important;
  background-color: white;
  margin-bottom: 0;
  box-shadow: none !important;

  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

.nav {
  font-size: $font-size-sm;
}
