@import 'settings';
@import 'mixins/utils';
@import 'mixins/responsive';

@import 'overrides';

@import 'ember-power-calendar';
@import "ember-modal-dialog/ember-modal-structure";

@import 'base/typography';
@import 'base/button';

@import 'layout';

@import 'modules/datepicker';
@import 'modules/button';
@import 'modules/cover';
@import 'modules/fieldGroup';
@import 'modules/tabs';
@import 'modules/innerNav';
@import 'modules/filters';
@import 'modules/ticket';
@import 'modules/grid';
@import 'modules/comment';
@import 'modules/ticketContent';
@import 'modules/pg';
@import 'modules/modal';
@import 'modules/dd';
@import 'modules/list';
@import 'modules/activeFilters';
@import 'modules/tag';

@import 'modules/spinner';

// should probably encapsulate, keeping it simple for now
body {
  background: white;
  color: $pal-gray25;
}

// alternative to BS' .container
.wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.formatted {
  white-space: pre-wrap;
}

.section {
  & + & {
    margin-top: 30px;
  }
}

.subtitle {
  margin: 0 0 20px 0;
}
