<div class="activity-avatar">{{user-avatar user=data.user preset="large"}}</div>
<div class="activity-author">
  <strong>{{data.user.displayName}}</strong>
  {{timestamp-full data.createdAt}}
</div>
<div class="activity-body formatted" data-test-activity-body>
  {{~html-safe data.comment.body~}}
</div>
