<div class="cover cover--header">
<div class="wrapper">

  <h1 class="cover-title">Request Information</h1>

</div>
</div>

<div class="cover cover--content">
<div class="wrapper">

{{form-create-ticket model=model afterSave=(action "goToTicketPage")}}

</div>
</div>