.alert {
  position: relative;
  padding: .75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: $border-radius;

  .icon {
    vertical-align: -.2em;
    margin-right: $spacer;

    @include rtl {
      margin-left: $spacer;
      margin-right: 0;
    }
  }
}

.alert-heading {
  margin-bottom: $spacer;

  .icon--lg {
    vertical-align: -.25em;
  }
}

@each $color, $value in $theme-colors {
  .alert--#{$color} {
    color: theme-color-level($color, 3);
    background-color: theme-color-level($color, -11);
    border-color: theme-color-level($color, -9);
  }
}

.alert--topFlush {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}

.alert--sm {
  font-size: $font-size-sm;
  padding: .5rem .75rem;
}

.alert--segmented {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > :first-child {
    flex: 1 1 auto;
    margin-right: $spacer-2;
  }

  & > :last-child {
    flex: 0 1 auto;
  }
}