/* ==========================================================================
   Buttons
   Derived from https://github.com/necolas/suit-button
   ========================================================================== */

/**
 * The button classes are best applied to links, buttons, and submit inputs.
 * These components can be used in forms, as calls to action, or as part of the
 * general UI of the site/app.
 *
 * Recommended use:
 *
 * <a class="btn [btn--modifier]" role="button" href="[url]">button text</a>
 * <button class="btn [btn--modifier]" type="submit">button text</button>
 * <input class="btn [btn--modifier]" type="submit" value="button text">
 */

/**
 * Button template
 *
 * Build on this component using rulesets in your application-level CSS.
 *
 * 1. Normalize `box-sizing` across all elements that this component could be
 *    applied to.
 * 2. Inherit font styles from ancestor.
 * 3. Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+.
 * 4. Inherit text color from ancestor.
 * 5. Prevent wrapping across multiple lines.
 * 6. Corrects inability to style clickable `input` types in iOS
 */

.button {
  position: relative;
  box-sizing: border-box; /* 1 */
  display: inline-block;

  margin: 0;
  padding: 0.25em 0.75em;
  // border: 1px solid;
  border: none;

  font: inherit; /* 2 */
  line-height: normal; /* 3 */

  background: transparent;
  color: inherit; /* 4*/

  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap; /* 5 */
  -webkit-appearance: none; /* 6 */
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

/**
 * Modifier: full-width buttons
 */

.button--full {
  display: block;
  width: 100%;
}
