
// Form validation
//
// Provide feedback to users when form field values are valid or invalid. Works
// primarily for client-side validation via scoped `:invalid` and `:valid`
// pseudo-classes but also includes `.is-invalid` and `.is-valid` classes for
// server side validation.

// removed display: none
.formFeedback {
  margin-top: $form-feedback-margin-y;
  font-size: $font-size-sm;

  .is-invalid > &,
  .is-invalid + & {
    color: $form-feedback-invalid-color;
  }
}


@mixin form-validation-state($state, $color) {

  .formControl,
  .customSelect {
    .is-#{$state} > &,
    &.is-#{$state} {
      border-color: $color;

      &:focus {
        box-shadow: 0 0 0 .2rem rgba($color,.25);
      }

      ~ .#{$state}-feedback {
        display: block;
      }
    }
  }

  .formCheck {
    .is-#{$state} > &,
    &.is-#{$state} {
      .formCheck-label {
        color: $color;
      }
    }
  }

  // custom radios and checks
  .customControl {
    .is-#{$state} > &,
    &.is-#{$state} {
      .customControl-indicator {
        background-color: rgba($color, .25);
      }
      .customControl-description {
        color: $color;
      }
    }
  }

}


@include form-validation-state("valid", $form-feedback-valid-color);
@include form-validation-state("invalid", $form-feedback-invalid-color);