// Margin spacer utilities
// ==========================================================================
// https://github.com/primer/primer-css/blob/master/modules/primer-utilities/lib/margin.scss

@for $i from 1 through length($spacers) {
  $size: #{nth($spacers, $i)};
  $scale: #{$i - 1};

  // Set a #{$size} margin to all sides
  .m-#{$scale}  { margin: #{$size} !important; }
  // Set a #{$size} margin on the top
  .mt-#{$scale} { margin-top: #{$size} !important; }
  // Set a #{$size} margin on the right
  .mr-#{$scale} { margin-right: #{$size} !important; }
  // Set a #{$size} margin on the bottom
  .mb-#{$scale} { margin-bottom: #{$size} !important; }
  // Set a #{$size} margin on the left
  .ml-#{$scale} { margin-left: #{$size} !important; }
  // Set a negative #{$size} margin on top
  .mt-n#{$scale} { margin-top: -#{$size} !important; }
  // Set a negative #{$size} margin on the right
  .mr-n#{$scale} { margin-right: -#{$size} !important; }
  // Set a negative #{$size} margin on the bottom
  .mb-n#{$scale} { margin-bottom: -#{$size} !important; }
  // Set a negative #{$size} margin on the left
  .ml-n#{$scale} { margin-left: -#{$size} !important; }

  // Set a #{$size} margin on the left & right
  .mx-#{$scale} {
    margin-right: #{$size} !important;
    margin-left: #{$size} !important;
  }

  // Set a #{$size} margin on the top & bottom
  .my-#{$scale} {
    margin-top: #{$size} !important;
    margin-bottom: #{$size} !important;
  }

  @include rtl(true) {
    .mr-#{$scale} { margin-right: 0 !important; margin-left: #{$size} !important; }
    .ml-#{$scale} { margin-left: 0 !important; margin-right: #{$size} !important; }
  }
}

// Set an auto margin on left & right
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}


// Typography
// ==========================================================================

.t-white { color: #fff !important; }

@each $color, $value in $theme-colors {
  .t-#{$color} {
    color: $value !important;
  }
}

.t-muted { color: $text-muted !important; }


.t-right { text-align: right !important; }
.t-left { text-align: left !important; }
.t-center { text-align: center !important; }

@include rtl(true) {
  .t-right { text-align: left !important; }
  .t-left { text-align: right !important; }
}

.t-light { font-weight: $font-weight-light !important; }
.t-normal { font-weight: $font-weight-normal !important; }
.t-bold { font-weight: $font-weight-bold !important;}