<div class="wrapper">
  <div class="subNav mb-5">
    <div class="subNav-main">
      {{#link-to "reporting.index"}}Overview{{/link-to}}
      {{#link-to "reporting.staff"}}Staff{{/link-to}}
      {{#link-to "reporting.countries"}}Countries{{/link-to}}
    </div>
    <div class="subNav-secondary">
      {{moment-format model.meta.startDate 'MMMM Y'}} &mdash; {{moment-format model.meta.endDate 'MMMM Y'}}
    </div>
  </div>

  {{outlet}}
</div>