<div class="wrapper">
  <div class="flex justify-between bb b--gray">
    <div class="flex">
      {{#link-to "reporting.index" (query-params by=null) class="link pv2 dim occrp-gray" activeClass="bb bw2 b--occrp-gray"}}
        Overview
      {{/link-to}}
      {{#link-to "reporting.staff" (query-params by="responder") class="link pv2 mh4 dim occrp-gray" activeClass="bb bw2 b--occrp-gray"}}
        Staff
      {{/link-to}}
      {{#link-to "reporting.countries" (query-params by="country") class="link pv2 dim occrp-gray" activeClass="bb bw2 b--occrp-gray"}}
        Countries
      {{/link-to}}
    </div>
    <div class="tr">
        Show stats from
        {{input-date
          value=(moment selectedStartAt)
          onSelect=(action (mut selectedStartAt) value="date")
          id="stats-date"
          class="dib bt-0 bl-0 br-0 bb b--dotted b--moon-gray w-30"
        }}
    </div>
  </div>

  {{outlet}}
</div>
