<div class="wrapper">
  <div class="filters">
    <div class="filters-main">
      <div class="statusTabs">
        {{#link-to "reporting.index"}}Overview{{/link-to}}
        {{#link-to "reporting.staff"}}Staff{{/link-to}}
      </div>
    </div>
  </div>

  {{outlet}}
</div>