<div class="wrapper">
  <div class="flex align-center justify-between bb b--gray mb-5">
    <div class="flex">
      {{#link-to "reporting.index" class="link p4 dim occrp-gray" activeClass="bb bw2 b--occrp-gray"}}Overview{{/link-to}}
      {{#link-to "reporting.staff" class="link p4 mh4 dim occrp-gray" activeClass="bb bw2 b--occrp-gray"}}Staff{{/link-to}}
      {{#link-to "reporting.countries" class="link p4 dim occrp-gray" activeClass="bb bw2 b--occrp-gray"}}Countries{{/link-to}}
    </div>
    <div>
        Show stats from
        {{input class='dib bg-washed-yellow w2 bn pa2' value=monthsAgo}}
        months ago
    </div>
  </div>

  {{outlet}}
</div>
