.activityHeader {
  @include cf;

  h2 {
    float: left;

    .spinner {
      display: inline-flex;
      vertical-align: middle;
      margin-left: .75rem;
    }
  }

  .pg {
    float: right;
    margin-left: 1em;
    margin: 0 !important;
  }
}

.activityList {
  position: relative;
  margin: $spacer-4 0 $spacer-8 0;

  // vertical line in the background
  &:before {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(1rem + 14px);
    background: $gray-300;
  }
}

.activity {
  position: relative;
  margin: $spacer-3 0;

  // box-shadow: 0 0 0 3px white;
}

.activity--comment,
.activity--reopen,
.activity--pending {
  @include cf;
  clear: both;
  border: 1px solid $gray-400;
  border-radius: $border-radius;
  background-clip: padding-box;
  background: white;
  margin: $spacer-4 0;
}

.activity-author {
  color: $gray-600;
  background: $gray-100;
  padding: to-rem(9px) 1rem;
  background-clip: padding-box;
  border-radius: $border-radius;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: $font-size-sm;

  strong {
    color: $gray-650;
    margin: 0 0.1em;

    &:first-child {
      margin-left: 0;
    }
  }

  .tag {
    margin-right: 0.35em;
  }
}

.activity-headline {
  color: $gray-600;
  background: white;
  padding: 0 calc(1rem + 1px);
  font-size: $font-size-sm;
  display: flex;
  align-items: center;

  .icon {
    background: $gray-100;
    padding: 5px;
    box-sizing: content-box;
    border-radius: 50%;
    border: 1px solid $gray-400;
    margin-right: .5rem;
  }

  [class^="icon-"] {
    fill: $gray-600;
  }

  strong {
    color: $gray-650;
    margin: 0 0.1em;
  }

  .tag {
    margin-right: 0.35em;
    vertical-align: top;
  }

}


.activity-body {
  font-size: $font-size-sm;
  padding: .8rem 1rem;

  &.activity-form {
    padding: to-rem(7px);
    padding-bottom: $spacer;
  }
}

.activity-form {
  @include cf;

  .formGroup--actions {
    margin-top: $spacer;
    @include cf;

    .button {
      float: right;
    }

    .spinner {
      float: right;
      margin-right: 1.25rem;
      margin-top: 1rem;
    }

  }
}

