.activityHeader {
  margin-top: $spacer-4;
}

.activityHeader-controls {
  border-bottom: 1px solid $gray-300;
  padding: $spacer 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .customControl {
    font-size: $font-size-sm;
    padding-left: 1.6rem;
    margin-bottom: 0;

    @include rtl {
      padding-left: 0;
      padding-right: 1.6rem;
    }
  }

  .customControl-indicator {
    top: .2rem;
  }
}

.activityHeader-loader {
  text-align: center;
  border-bottom: 1px dashed $gray-300;

 .button {
   @include caret('up');
   font-weight: $font-weight-bold;
 }

  .spinner {
    padding: (40px - 8px)/2 0;
    margin: 0 auto;
  }
}

.activityList {
  position: relative;
  margin: 0 0 $spacer-8 50px;
  padding-top: $spacer-2;

  // vertical line in the background
  &:before {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 14px;
    background: $gray-300;

    @include rtl {
      left: auto;
      right: 14px;
    }
  }
}

.activity {
  position: relative;
  margin: $spacer-2 0;
  clear: both;
}

.activity--comment,
.activity--reopen,
.activity--pending {
  @include cf;
  clear: both;
  border: 1px solid $gray-400;
  border-radius: $border-radius;
  background-clip: padding-box;
  background: white;
  margin: ($spacer * 2.5) 0;
}

.activity-author {
  color: $gray-600;
  background: $gray-100;
  padding: to-rem(9px) 1rem;
  background-clip: padding-box;
  border-radius: $border-radius;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: $font-size-sm;

  strong {
    color: $gray-650;
    margin-right: 0.1em;
  }

  .tag {
    margin: 0 0.35em;
  }

  @include rtl {
    strong {
      margin-left: 0.1em;
      margin-right: 0;
    }
  }
}


.activity-avatar {
  float: left;
  margin-left: -50px;
  margin-top: -1px;

  @include rtl {
    float: right;
    margin-left: 0;
    margin-right: -50px;
  }
}

.activity-headline {
  display: flex;
  align-items: center;
  color: $gray-600;
  background: white;
  font-size: $font-size-sm;
  padding: 0 1px;

  .icon {
    background: $gray-100;
    color: $gray-600;
    padding: 5px;
    box-sizing: content-box;
    border-radius: 50%;
    border: 1px solid $gray-400;
    margin-right: .5rem;
  }

  strong {
    color: $gray-650;
    margin-right: .1em;
  }

  .avatar {
    vertical-align: -2px;
    margin-right: .3rem;
  }

  .tag {
    margin: 0 .35em;
    vertical-align: top;
  }

  @include rtl {
    .icon {
      margin-left: .5rem;
      margin-right: 0;
    }

    strong {
      margin-left: .1em;
      margin-right: 0;
    }

    .avatar {
      margin-left: .4rem;
      margin-right: 0;
    }
  }

}


.activity-body {
  font-size: $font-size-sm;
  padding: .8rem 1rem;

  &.activity-form {
    padding: to-rem(7px);
    padding-bottom: $spacer;
  }
}

.activity-form {
  @include cf;

  .formGroup--actions {
    margin-top: $spacer;
    @include cf;

    .button {
      float: right;
    }

    .spinner {
      float: right;
      margin-right: 1.25rem;
      margin-top: 1rem;
    }

    @include rtl {
      .button {
        float: left;
      }

      .spinner {
        float: left;
        margin-left: 1.25rem;
        margin-right: 0;
      }
    }
  }
}

