.activeFilters {
  display: flex;
  align-items: center;
  font-size: $font-size-sm;
  background: $gray-100;
  color: $gray-700;
  padding: 2px $spacer-3;
  border-bottom: 1px solid $gray-400;
}

.activeFilters-label {
  flex: 0 0 auto;
  margin-right: $spacer-1;
}

.activeFilters-list {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: $spacer-1 to-rem(5px);
}

.activeFilters-clear {
  flex: 0 0 auto;
  font-weight: $font-weight-bold;
  line-height: $line-height-base;
  margin-left: $spacer;
  padding: 0;
  border: 0;
}


.chip {
  flex: 0 1 auto;
  display: inline-flex;
  align-items: stretch;
  border: 1px solid theme-color("primary");
  font-size: $font-size-xs;
  border-radius: $border-radius-lg;
  background: white;
  margin: $spacer-1 to-rem(5px);
  background-clip: padding-box;
  overflow: hidden;
}

.chip-label {
  background: theme-color("primary");
  min-height: 100%;
  color: white;
  padding: 1px $spacer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chip-value {
  padding: 1px $spacer-1 1px $spacer;
  background: white;
  // color: $gray-650;
}

.chip-action {
  color: $gray-600;
  padding: 0 3px;
}