.appNav {
  background: theme-color("primary");

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.appNav-links {
  display: flex;

  a {
    display: block;
    padding: $spacer-2 $spacer-3;
    color: white;

    @include hover {
      color: rgba(white, 0.85);
      text-decoration: none;
    }

    &.active {
      background: darken(theme-color("primary"), 7.5%);
    }
  }

  .badge {
    margin-left: $spacer;
  }
}

.appNav-switcher {

  .dd-trigger {
    font-size: $font-size-sm;
    color: white;
    @include caret;
    padding: $spacer-2 0;

    .icon {
      vertical-align: -3px;
      margin-right: .5em;

      @include rtl {
        margin-right: 0;
        margin-left: .5em;
      }
    }

    @include hover {
      color: rgba(white, 0.85);
      text-decoration: none;
    }
  }
}
