.attachments:not(:first-child) {
  margin-top: $spacer-6;
}

.dropzone {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 2px dashed $gray-500;
  border-radius: $border-radius-lg;
  padding: 20px;
  text-align: center;
  min-height: 12rem;

  &.is-active {
    background: white;
  }

  &.is-active.is-valid {
    border-color: theme-color("secondary");
    border-style: solid;
  }

  &.is-active.is-invalid {
    border-color: theme-color("danger");
  }
}

.dropzone-trigger {
  cursor: pointer;
}

.dropzone-title {
  color: theme-color("primary");
  margin: 0;
}

.dropzone-body {
  font-size: $font-size-sm;
  p {
    margin: 1em;
  }
}


.fileTimeline {
  position: relative;
  margin-left: $spacer-3;

  // timeline on the left
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -1 * $spacer-3;
    width: 1px;
    height: 100%;
    background: $gray-300;
  }

  @include rtl {
    margin-right: $spacer-3;
    margin-left: 0;

    &::after {
      right: -1 * $spacer-3;
      left: auto;
    }
  }
}


.fileGroup {
  position: relative;

  & + & {
    margin-top: $spacer-3;
  }
}

.fileGroup-title {
  position: relative;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  color: $gray-650;

  .avatar {
    display: block;
    position: absolute;
    top: calc(-8px + #{$line-height-base/2 * $font-size-sm});
    left: calc(#{-1 * $spacer-3} - 7px);
    z-index: 2;
    box-shadow: 0 0 0 3px $gray-100;

    @include rtl {
      right: calc(#{-1 * $spacer-3} - 7px);
      left: auto;
    }
  }
}

.fileGroup-body {
  position: relative;
}


.fileGroup-timestamp {
  font-size: $font-size-xs;
  color: $gray-500;
  padding-top: $spacer * 1;
  padding-bottom: $spacer/4;
}



// fancy line masking AYY
// .fileGroup:last-child .fileGroup-body::after {
//   z-index: 1;
//   content: '';
//   display: block;
//   position: absolute;
//   top: -1 * ($line-height-base/2 * $font-size-sm + $spacer-1);
//   left: -1 * $spacer-3;
//   width: 1px;
//   height: calc(100% + #{$line-height-base/2 * $font-size-sm + $spacer-1});
//   background: $gray-100;

//   @include rtl {
//     right: -1 * $spacer-3;
//     left: auto;
//   }
// }

.fileGroup:first-child .fileGroup-title::before {
  z-index: 1;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -1 * $spacer-3;
  width: 1px;
  height: $line-height-base/2 * $font-size-sm;
  background: $gray-100;

  @include rtl {
    right: -1 * $spacer-3;
    left: auto;
  }
}



.file {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: $font-size-sm;
  color: $gray-700;
  font-weight: $font-weight-normal;
  border: 1px solid transparent;
  border-bottom-color: $gray-300;
  background: white;
  padding: .4rem .6rem;

  .file-name {
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .file-size {
    flex: 0 0 auto;
    white-space: nowrap;
    margin-left: 1rem;
    color: $gray-500;
    font-weight: $font-weight-normal;

    .icon {
      color: theme-color("secondary");
      vertical-align: -3px;
    }
  }

  .file-icon {
    flex: 0 0 auto;
    margin-right: .4rem;
  }

  .file-remove {
    flex: 0 0 auto;
    width: 16px;
    height: 21px;
    padding: .4rem .6rem;
    margin: -1*.4rem -1*.6rem;
    margin-left: 0
  }

  @include rtl {
    .file-size {
      direction: ltr;
      margin-right: 1rem;
      margin-left: 0;
    }

    .file-icon {
      margin-left: .4rem;
      margin-right: 0;
    }

    .file-remove {
      margin-right: 0;
      margin-left: -1*.6rem;
    }
  }
}

a.file:hover {
  text-decoration: none;
  color: theme-color("primary");
}