.attachments {
  display: flex;
  margin-top: 20px;
  width: 100%;
}

.attachments-list {
  flex: 1 1 50%;
  min-width: 0; // arcane flexbox bug https://css-tricks.com/flexbox-truncated-text/
  margin-right: 10px;
}

.attachments-dropzone {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;

  .attachments-list + & {
    margin-left: 10px;
  }
}

.dropzone {
  flex: 1 0 100%;
  min-height: 160px;
  border: 2px dashed $pal-gray70;
  border-radius: $borderRadius-large;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &.is-active.is-valid {
    border-color: $pal-accent;
    border-style: solid;
  }

  &.is-active.is-invalid {
    border-color: $pal-materialRed;
  }
}

.dropzone-title {
  font-weight: bold;
  color: $pal-accent;
  margin: 0;
}

.dropzone-body {
  p {
    margin: 1em;
  }
}

.file {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;  
  color: $pal-gray30;
  font-weight: bold;
  border: 1px solid $pal-gray90;
  border-radius: $borderRadius-large;
  padding: 7px;
  padding-left: 13px;

  .tag {
    float: right;
    margin: -1px 0;
    margin-left: 1em;
  }

  & + & {
    margin-top: 10px;
  }
}

a.file:hover {
  text-decoration: none;
  border-color: $pal-primary;
}