.badge {
  display: inline-block;
  color: white;
  background: rgba(white, 0.2);
  font-size: $font-size-xs;
  padding: $spacer/4 $spacer;
  border-radius: $border-radius;
  vertical-align: middle;
  margin-top: $spacer/4 * -1;
}