.button {
  background: $pal-gray50;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 10px 20px;
  border-radius: $borderRadius-base;

  &:hover {
    background: mix(black, $pal-gray50, 15%);
    color: white;
  }

  &:active {
    background: mix(black, $pal-gray50, 25%);
  }

  &:active:focus {
    outline: none;
  }

  i {
    font-size: 20px;
    vertical-align: middle;
    margin: -1px 5px -1px -7px;
    color: $pal-accent;
  }
}


.button--primary {
  background: $pal-primary;

  &:hover {
    background: mix(black, $pal-primary, 15%);
  }

  &:active {
    background: mix(black, $pal-primary, 25%);
  }
}

.button--accent {
  background: $pal-accent;

  &:hover {
    background: mix(black, $pal-accent, 15%);
  }

  &:active {
    background: mix(black, $pal-accent, 25%);
  }
}


.button[disabled],
.button.is-disabled {
  background: $pal-gray70;
  cursor: not-allowed;

  &:hover {
    background: $pal-gray70;
  }
}

.button.button--primary[disabled],
.button.button--primary.is-disabled {
  background: mix(white, $pal-primary, 20%);

  &:hover {
    background: mix(white, $pal-primary, 20%);
  }
}


.button--bordered {
  background: white;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px solid $pal-gray30;
  color: $pal-gray30;

  &:focus {
    color: $pal-gray30;
  }

  &:hover,
  &:active {
    background: mix(black, $pal-primary, 15%);
    color: white;
    border-color: mix(black, $pal-primary, 15%);;
  }

  &:active {
    background: mix(black, $pal-primary, 25%);
    border-color: mix(black, $pal-primary, 25%);
  }
}

.button--bordered.button--accent {
  &:hover {
    background: $pal-accent;
    border-color: $pal-accent;
  }
  &:active {
    background: mix(black, $pal-accent, 25%);
    border-color: mix(black, $pal-accent, 25%);
  }
}


.button--small {
  font-size: 13px;
  padding: 3px 12px;
}

.button--bordered.button--small {
  color: $pal-gray50;
  border-color: $pal-gray50;
  padding: 1px 10px;

  &:hover {
    color: white;
  }
}

.button--micro {
  font-size: 11px;
  line-height: 16px;
  padding: 2px 8px;

  i {
    font-size: 12px;
    margin: 0 1px 0 -2px;
    color: white;
  }

}


.iconButton {
  box-sizing: content-box;
  background: none;
  border: none;
  color: $pal-gray30;
  width: 20px;
  line-height: 20px;
  text-align: center;
  padding: 0;

  i {
    font-size: 16px;
  }

  &:hover {
    color: $pal-primary
  }
}

.iconButton--dimmed {
  color: $pal-gray80;
}
