.commentList {
  margin: 20px 0 40px 0;
  position: relative;
}

.comment {
  @include cf;
  clear: both;
  font-size: 15px;
  border: 1px solid $pal-gray85;
  border-radius: $borderRadius-large;
  background-clip: padding-box;
  background: white;

  & + & {
    margin-top: 20px;
  }
}

.comment-author {
  color: $pal-gray50;
  background: $pal-gray100;
  padding: 12px 20px;
  font-size: 15px;
  background-clip: padding-box;
  border-radius: $borderRadius-large;

  strong {
    color: $pal-gray30;
    margin-right: 0.25em;
  }
}

.comment-body {
  padding: 15px 20px;

  &.comment-form {
    padding: 10px 10px;
    font-size: 14px;
  }
}

.comment-form {
  @include cf;

  .form-control {
    font-size: 15px;
  }

  .help-block {
    text-align: right;
  }

  .button {
    margin: 10px 0 0 0;
  }

  .spinner {
    float: right;
    margin-right: 20px;
    margin-top: 10px + 15px;
  }
}
