.dd {
}

.dd-trigger {
  display: inline-block;
}

.dd-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $gray-200;
  font-size: $font-size-xs;
  color: $gray-700;
  border-bottom: 1px solid $gray-500;
  padding: to-rem(6px) $spacer-3;

  .button--icon {
    padding: 2px;
    margin-right: -1*$spacer;

    @include rtl {
      margin-right: 0;
      margin-left: -1*$spacer;
    }
  }
}

.dd-container {
  margin-top: 1px;
  z-index: $zindex-dropdown;
}

.dd-content {
  background-color: white;
  width: to-rem(290px);
  border: 1px solid $gray-500;
  box-shadow: $dropdown-box-shadow;
  border-radius: $border-radius;
  background-clip: padding-box;
  overflow: hidden;

  .spinner {
    margin: 1rem auto 1rem auto;
  }
}

.searchBox {
  padding: 7px;
  border-bottom: 1px solid $gray-500;
  background: $gray-200;
}
