.editableList {
  padding: 5px 0;
  margin: 0;
  margin-bottom: 0; // Bootstrap -_-
  list-style-type: none;
  width: 100%;
  display: block;
  overflow: hidden; // hides "remove" buttons
}

.editableList-item {
  display: block;
  font-weight: bold;
  color: $pal-gray30;
  margin-bottom: 0.5em;
  @include cf;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover .iconButton i {
    color: $pal-gray50;
  }

  .iconButton {
    height: 20px;
    vertical-align: middle;
    i {
      font-size: 20px;
    }

    &:hover i {
      color: $pal-red;
    }
  }

  &.is-dimmed {
    color: $pal-gray50;
  }
}

.editableList-controls {
  float: right;
  transform: translateX(100%);
  left: -20px;
  position: relative;
  transition: transform .2s ease-in-out;

  &.is-expanded {
    transform: translateX(20px)
  }
}

.editableList-content {

}