.editableList {
  margin: 0;
  display: block;
  overflow: hidden; // hides "remove" buttons
  border-top: 1px solid $gray-300;
}

.editableList-item {
  display: block;
  color: $gray-650;
  border-bottom: 1px solid $gray-300;
  padding: to-rem(6px) 0;
  @include cf;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;

  .avatar {
    margin-right: $spacer;
    vertical-align: top;

    @include rtl {
      margin-left: $spacer;
      margin-right: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.editableList-item--empty {
  background: $gray-200;
  font-weight: $font-weight-normal;
  padding-left: $spacer;
  padding-right: $spacer;
}

.editableList-controls {
  float: right;
  transform: translateX(100%);
  left: -28px;
  position: relative;
  transition: transform .2s ease-in-out;
  display: flex;
  margin: -1px 0 -2px 0;

  .button--icon {
    padding: 4px 4px;
    margin-right: 6px;
  }

  &.is-expanded {
    transform: translateX(28px - 4px)
  }

  @include rtl {
    float: left;
    transform: translateX(-100%);
    left: auto;
    right: -28px;

    .button--icon {
      margin-left: 6px;
      margin-right: 0;
    }

    &.is-expanded {
      transform: translateX(28px - 4px)
    }
  }
}

.editableList-content {

  // external subscriber
  .icon {
    color: $gray-600;
    margin: 2px calc(2px + #{$spacer}) 0 2px;
    vertical-align: top;

    @include rtl {
      margin: 2px 2px 0 calc(2px + #{$spacer});
    }
  }
}