.fieldGroup {
  padding: 40px 15px;
}

.fieldGroup--bordered {
  border-bottom: 2px solid $pal-gray30;
}

.fieldGroup-title {
  margin: 50px 0 30px 0;

  &:first-child {
    margin-top: 0;
  }
}

.info-block {
  color: $pal-gray50;

  label + & {
    margin: 0 0 10px 0;
  }
}

.fieldGroup-actions {
  @include cf;

  .button {
    float: left;
  }

  .spinner {
    float: left;
    margin-left: 20px;
    margin-top: 15px;
  }
}

