.fieldGroup {
  padding: $spacer-6 $spacer-3;
}

.fieldGroup--bordered {
  border-bottom: 1px solid $gray-400;
}

.fieldGroup-title {
  margin: $spacer-7 0 $spacer-4 0;
  font-weight: $font-weight-light;

  &:first-child {
    margin-top: 0;
  }
}

.fieldGroup-actions {
  display: flex;
  align-items: center;

  .spinner {
    margin-left: 1.5rem;
  }
}

