.filters {
  background: $gray-100;
  border-bottom: 1px solid $gray-400;
  font-size: $font-size-sm;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}

.filters-main {
  padding: 0 0.5rem;
}

.filters-secondary {
  padding: 0 0.25rem;
}

.filters-item {
  float: left;
  margin: 0 0.75rem;

  .dd-trigger {
    padding: .8rem 0;
    color: $gray-700;

    @include hover {
      color: theme-color("primary");
      text-decoration: none;
    }

    @include caret;

    &.is-active {
      color: theme-color("primary");
    }
  }
}




