.filters {
  @include cf;
  background: $pal-gray95;
  border: 1px solid $pal-gray70;
  border-top-left-radius: $borderRadius-large;
  border-top-right-radius: $borderRadius-large;
  padding: 0;
}

.filters-main {
  float: left;
  margin-right: 25px;
}

.filters-secondary {
  float: right;
}

.filters-item {
  float: left;

  &+& {
    margin-left: -10px;
  }
}

.arrow {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 6px;
  margin-left: 2px;
  top: -1px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: $pal-gray30;
  }

  &:after {
    border-top-color: $pal-gray100;
    top: -2px;
  }
}

