.filters {
  background: $gray-100;
  border-bottom: 1px solid $gray-400;
  @include cf;
  font-size: $font-size-sm;
}

.filters-main {
  float: left;
  margin-right: $spacer-4;
}

.filters-secondary {
  float: right;
}

.filters-item {
  float: left;

  .dd-trigger {
    padding: .8rem 1rem;
    color: $gray-700;

    @include hover {
      color: theme-color("primary");
      text-decoration: none;
    }

    @include caret;

    &.is-active {
      color: theme-color("primary");
    }
  }
}



