.innerNav {
  @include cf;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin: 0 0 0 20px;

  i {
    color: $pal-accent;
    margin-right: 2px;
  }

  a {
    color: $pal-gray50;
    float: left;
    padding: 15px 0;

    &.active {
      color: $pal-gray20;
    }

    &:focus {
      text-decoration: none;
    }

    &:hover,
    &:active {
      color: $pal-primary;
      text-decoration: none;
    }
  }

  a + a {
    margin-left: 20px;
  }
}
