.list {
}

.list-item {
  display: block;
  font-size: $font-size-sm;
  padding: $spacer $spacer-3;
  background-clip: padding-box;
  border-bottom: 1px solid $gray-300;
  @include cf;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;

  &:last-child {
    border-bottom: 0;
  }

  color: $gray-650;

  [class^="icon-"] {
    fill: theme-color("secondary");
  }

  &:hover {
    text-decoration: none;
    color: theme-color("primary");
    background-color: $gray-100;
  }

  &.is-active,
  &.is-active:hover {
    font-weight: $font-weight-bold;
    color: $gray-900;
  }

  .tagContainer {
    display: inline-block;
    width: 2em;
    float: left;
    text-align: center;
    margin-right: $spacer;
    font-weight: $font-weight-bold;
  }

  .icon {
    vertical-align: -7px;
    margin-right: $spacer;
  }

  @include rtl {
    .tagContainer {
      float: right;
      margin-left: $spacer;
      margin-right: 0;
    }

    .icon {
      margin-left: $spacer;
      margin-right: 0;
    }
  }
}

.list-item--special {
  font-weight: $font-weight-bold;
}

.noResults {
  padding: $spacer $spacer-3;
}
