.mainNav {
  .dd-trigger {
    color: $gray-700;
    @include caret;
    padding: $spacer-2 0;
    margin: -1 * $spacer-2 0;
  }
}

.mainNav-logo {
  position: relative;
  display: flex;
  align-items: center;

  img {
    display: inline-block;
    margin-right: $spacer-1;
  }
  abbr {
    display: none;
  }

  @include respond($max: sm) {
    abbr {
      display: inline;
    }
  }
  @include rtl {
    img {
      margin-left: $spacer-1;
      margin-right: 0;
    }
  }

}
