.mainNav {
  .dd-trigger {
    color: $gray-700;
    @include caret;
    padding: $spacer-2 0;
    margin: -1 * $spacer-2 0;

    @include hover {
      color: theme-color("primary");
      text-decoration: none;
    }
    &.is-active {
      color: theme-color("primary");
    }

    @include rtl { }

  }
}

.mainNav-logo {
  position: relative;
  display: flex;
  align-items: center;
  color: inherit;

  img {
    display: inline-block;
    margin-right: $spacer-1;
  }
  abbr {
    display: none;
  }

  &:hover {
    color: theme-color("primary");
    text-decoration: none;
  }

  @include respond($max: sm) {
    span {
      @include squish-text;
    }
    abbr {
      display: inline;
    }
  }
  @include rtl {
    img {
      margin-left: $spacer-1;
      margin-right: 0;
    }
  }

}
