.ember-modal-overlay.translucent {
  background-color: rgba($pal-gray20, .4);
  z-index: 1000;
}

.modal-content {
  min-width: 450px;
}

.modal-message {
  color: $pal-gray30;
  text-align: center;
  margin: 0 auto;
  padding: 10px 20px 20px 20px;
}

.modal-actions {
  text-align: center;
  padding: 0;

  .button {
    margin: 5px 10px;
  }
}
