.ember-modal-overlay.translucent {
  background-color: rgba($pal-gray20, .4);
  z-index: 1000;
}

.modal-content {
  min-width: 450px;
}

.modal--uploader {
  min-width: 600px;
}

.modal-message {
  color: $pal-gray30;
  text-align: center;
  margin: 0 auto;
  padding: 10px 20px 20px 20px;
}

.modal-title {
  h4 {
    font-weight: bold;
    color: $pal-accent;
    margin: 10px 0 0 14px;
  }
}

.modal-innerContent {
  margin: 30px 0;
  margin-bottom: 31px;
}

.modal-actions {
  padding: 0;
}

.modal-actions--center {
  text-align: center;
  .button {
    margin: 5px 10px;
  }
}

.modal-progress {
  float: right;
  color: $pal-accent;
  font-weight: bold;
  font-size: 18px;
  margin-top: 8px;
  margin-right: 15px;

  .spinner {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    position: relative;
    top: -2px;
  }
}

.modal-actions--right {
  text-align: right;
  overflow: hidden;

  .button {
    float: right;
    margin-left: 15px;
  }
}