.pg {
  @include cf;
}

.pg-item,
.pg-sep,
.pg-prev,
.pg-next {
  display: block;
  float: left;
  margin-left: to-rem(6px);

  color: $gray-600;
  font-weight: $font-weight-bold;
  padding: .125rem .55rem;
  border-radius: $border-radius;
  border: 1px solid transparent;
}

.pg-prev {
  margin-left: 0;
}

@include rtl(true) {
  .pg-item,
  .pg-sep,
  .pg-prev,
  .pg-next {
    float: right;
    margin-left: 0;
    margin-right: to-rem(6px);
  }

  .pg-prev {
    margin-right: 0;
  }
}


.pg-prev:not(.is-disabled),
.pg-next:not(.is-disabled),
.pg-item:not(.is-disabled) {
  @include hover {
    color: theme-color("primary");
    text-decoration: none;
    border-color: theme-color("primary");
  }
}

.pg-item:not(.is-disabled) {
  &.is-active {
    color: $gray-900;
    border-color: theme-color("primary");
  }
}


.pg-prev {
  @include caret(left, theme-color("primary"));
  &::before {
    vertical-align: baseline;
  }
}
.pg-next {
  @include caret(right, theme-color("primary"));
  &::after {
    vertical-align: baseline;
  }
}

.pg-prev.is-disabled {
  color: $gray-500;
  &::before {
    border-right-color: $gray-500;

    @include rtl {
      border-left-color: $gray-500;
    }
  }
}
.pg-next.is-disabled {
  color: $gray-500;
  &::after {
    border-left-color: $gray-500;

    @include rtl {
      border-right-color: $gray-500;
    }
  }
}


.pg-sep {
  color: $gray-500;
}
