.reportCard {

}

.reportCard-header {
  display: flex;

  & > div {
    flex: 0 0 auto;
    width: 50%;
    padding: 0 $spacer-3;

    &:nth-child(2n) {
      border-left: 1px solid $gray-300;

      @include rtl {
        border-right: 1px solid $gray-300;
        border-left: 0;
      }
    }
  }
}

.reportCard-title {
  display: flex;
  align-items: flex-start;

  .icon {
    flex: 0 1 auto;
    vertical-align: middle;
    margin-right: $spacer-2;

    @include rtl {
      margin-left: $spacer-2;
      margin-right: 0;
    }
  }
}

.statsTable {
  width: 100%;
  background: white;
  border-top: 2px solid $gray-700;
  border-bottom: 1px solid $gray-300;
  table-layout: fixed;
  line-height: $line-height-sm;

  td, th {
    padding: $spacer-2 $spacer-3;
    padding-top: .6rem;
  }

  th {
    background: $gray-100;
    white-space: nowrap;
    font-size: $font-size-sm;
  }

  td {
    vertical-align: top;
    transition: background .1s ease-in-out;
    border-top: 1px solid $gray-300;

    p {
      margin-top: $spacer-1;
    }
  }

  .tag {
    vertical-align: top;
  }

  tbody tr:hover td {
    background: $gray-100;
  }

  .is-expanded td,
  .is-expanded:hover td {
    background: $gray-200;
    border-top: 1px solid $gray-500 !important;
  }
}

.statsTable-main {
  width: 20%;
}

.statsTable-cell {
  width: 80 / 7 * 1%;
}

.statsTable-expand {
  padding-right: $spacer-2 !important;
  padding-left: $spacer-2 !important;
  width: 20px !important;

  .button {
    display: block;
    height: 20px;
    width: 20px;
    box-shadow: none !important;
  }

  .icon {
    height: 20px;
    width: 20px;
  }

  .is-expanded & .icon {
    color: theme-color('primary');
  }
}

.statsTable-inner + :not(.statsTable-inner) {
  td {
    border-top: 1px solid $gray-500 !important;
  }
}

.statsTable-spinner {
  background: none !important;
  padding-top: $spacer-3 !important;
  padding-bottom: $spacer-3 !important;
}


// lizard wizard
.labelTable {
  width: 200px;

  td {
    padding: $spacer-1 0;
  }

  td:last-child {
    width: 100%;
  }

  td:first-child {
    padding-right: $spacer-2;

    @include rtl {
      padding-left: $spacer-2;
      padding-right: 0;
    }
  }
}


.subNav {
  font-size: $font-size-sm;
  background: $gray-100;
  border-bottom: 1px solid $gray-400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .4rem $spacer-3;

  a {
    color: $gray-700;

    @include hover {
      color: theme-color("primary");
      text-decoration: none;
    }

    &.active {
      color: theme-color("primary");
    }
  }
}

.subNav-main {
  display: flex;

  a {
    padding: .4rem 0;
  }

  > a + a {
    margin-left: $spacer-3;

    @include rtl {
      margin-right: $spacer-3;
      margin-left: 0;
    }
  }
}

.subNav-secondary {
  .dd-trigger {
    font-weight: $font-weight-bold;
    color: $gray-900;
    padding: .4rem 0;
    @include caret;
  }
}