.statusTabs {
  @include cf;
  margin: 0 0 0 $spacer-3;

  .icon {
    vertical-align: -2px;
    margin-right: .5rem;
  }

  a {
    color: $gray-700;
    float: left;
    padding: .8rem 0;

    @include hover {
      color: theme-color("primary");
      text-decoration: none;
    }

    &.active {
      color: theme-color("primary");
    }
  }

  a + a {
    margin-left: 1rem;
  }

  @include rtl {
    margin-left: 0;
    margin-right: $spacer-3;

    .icon {
      margin-right: 0;
      margin-left: .5rem;
    }

    a {
      float: right;
    }

    a + a {
      margin-left: 0;
      margin-right: 1rem;
    }
  }
}
