.statusTabs {
  @include cf;

  .icon {
    vertical-align: -2px;
    margin-right: .5rem;
  }

  a {
    color: $gray-700;
    float: left;
    padding: .8rem 0;
    margin: 0 0.5rem;

    @include hover {
      color: theme-color("primary");
      text-decoration: none;
    }

    &.active {
      color: theme-color("primary");
    }
  }


  @include rtl {
    .icon {
      margin-right: 0;
      margin-left: .5rem;
    }

    a {
      float: right;
    }
  }
}
