.tabs {
  margin: 50px 0 20px 0;
  display: table;
  width: 100%;
}

.tabs-item {
  box-sizing: border-box;
  position: relative;
  display: table-cell;
  width: 100 / 3 * 1%;
  color: $pal-gray30;
  font-size: 16px;
  padding: 15px 15px;
  border-bottom: 2px solid $pal-gray30;
  cursor: pointer;
  vertical-align: top;

  &:hover {
    color: $tabs-color;
  }

  &.is-active {
    border: 2px solid $pal-gray30;
    padding: 13px 13px 15px 13px;
    border-bottom: 0;
    background: white;
    color: $tabs-color;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
  }

  i {
    font-size: 24px;
    float: left;
    padding-right: 12px;
    padding-left: 5px;
    color: $pal-accent;
  }

  span {
    display: block;
    overflow: hidden;
  }
}

.staticTab {
  float: left;
  box-sizing: border-box;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid $pal-gray30;
  padding: 13px 18px 15px 18px;
  border-bottom: 0;
  background: white;
  color: $pal-gray30;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  i {
    font-size: 24px;
    float: left;
    padding-right: 12px;
    color: $pal-accent;
  }

  span {
    display: block;
    overflow: hidden;
  }
}


.staticTabContainer {
  overflow: hidden;
  padding-top: 15px;
  margin-bottom: -26px; // negate .cover--header
}
