.tabs {
  display: table;
  width: 100%;
}

.tabs-item {
  box-sizing: border-box;
  position: relative;
  display: table-cell;
  width: 100 / 5 * 1%;
  color: $gray-600;
  font-size: 16px;
  padding: 1rem 1.25rem;
  border-bottom: 2px solid $gray-700;
  vertical-align: top;
  font-weight: $font-weight-bold;
  cursor: pointer;

  &:hover {
    color: theme-color("primary");
  }

  &.is-active {
    border: 2px solid $gray-700;
    padding: calc(1rem - 2px) calc(1.25rem - 2px) 1rem calc(1.25rem - 2px);
    border-bottom: 0;
    background: white;
    color: theme-color("primary");
    border-top-left-radius: $border-radius-lg;
    border-top-right-radius: $border-radius-lg;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
  }

  .icon {
    float: left;
    margin-right: .75rem;

    @include rtl {
      float: right;
      margin-left: .75rem;
      margin-right: 0;
    }
  }

  [class^="icon-"] {
    fill: theme-color("secondary");
  }

  span {
    display: block;
    overflow: hidden;
  }
}
