.tag {
  background: white;
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  color: $pal-gray60;
  border: 1px solid $pal-gray60;
  border-radius: $borderRadius-small;
  padding: 1px 0.5em;
}

.tag--new {
  color: mix(black, $pal-green, 15%);
  border-color: $pal-green;
}

.tag--progress {
  color: $pal-cyan;
  border-color: $pal-cyan;
}

.tag--closed {
  color: $pal-materialRed;
  border-color: $pal-materialRed;
}

.tag--cancelled {
  color: $pal-materialRed;
  border-color: $pal-materialRed;
}
