.ticketList {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-left: 1px solid $pal-gray90;
  border-right: 1px solid $pal-gray90;
}

.ticket {
  display: table-row;
  color: $pal-gray40;

  &:hover {
    background: mix($pal-gray100, white, 70%);
  }
}

.ticket-cell {
  display: table-cell;
  padding: 10px 10px;
  border-bottom: 1px solid $pal-gray90;
  vertical-align: middle;

  & > .spinner {
    display: inline-block;
  }
}

.ticket-icon {
  width: 55px;
  text-align: center;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 10px;

  i {
    font-size: 24px;
    color: $pal-accent;
  }
}

.ticket-body {
  font-size: 13px;
  line-height: 20px;

  padding-right: 20px;

  p {
    margin: 0;
  }
}

.ticket-country {
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  line-height: 16px;
  padding: 1px 0.5em;
  margin: 0 0.75em 0 0;
  border: 1px solid $pal-gray85;
  border-radius: $borderRadius-small;
}

.ticket-addon {
  width: 180px;
  font-size: 13px;

  p {
    margin: 0;
    line-height: 20px;
  }

  .ticket-status {
    margin-bottom: 4px;
  }
}


.ticket-actions {
  width: 45px;
  padding-left: 0;
  padding-right: 0;

  .iconButton--dimmed {
    width: 25px;
    line-height: 1;
    padding: 10px 10px;

    i {
      font-size: 24px;
    }
  }
}

.ticket-dates {
  width: 130px;
  font-size: 13px;

  p {
    margin: 0;
    line-height: 20px;
  }

  .ticket-deadline {
    color: $pal-gray50;
    margin-top: 2px;
  }

  i {
    margin: 0 0.25em 0 0;
  }
}


.ticket-name {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin: 0 0 2px 0;
  padding: 4px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  a {
    color: $pal-gray20;

    &:hover {
      color: $pal-primary;
    }
  }
}

.ticket-updated {
  color: $pal-gray50;
}

.ticket--other {
  .ticket-name {
    font-weight: normal;
  }
}
