.ticketSubtitle {
  display: flex;
  justify-content: space-between;
  color: $gray-600;
  padding: $spacer-3 $spacer-4;
  border-bottom: 1px solid $gray-300;
  margin: 0 -1*$spacer-4;
  font-size: $font-size-sm;

  .dd {
    display: inline-block;
  }

  .dd-trigger {
    font-weight: $font-weight-bold;
    margin: 0 .1rem;
  }

  .dd-container {
    margin: $spacer-2 0;

    // The joy of arrow tips
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: -12px;
      left: 50%;
      margin-left: -6px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-bottom-color: $gray-600;
    }

    &:after {
      border-bottom-color: white;
      top: -11px;
    }
  }

  .ticketRequester {
    color: $gray-650;
    font-weight: $font-weight-bold;
    margin: 0 .1rem;
  }

  .button--icon {
    padding: to-rem(6px);
    margin: -6px -6px -4px .25rem;

    @include rtl {
      margin: -6px .25rem -4px -6px;
    }
  }
}

.statusBar {
  font-size: $font-size-sm;
  padding: $spacer-3 $spacer-4;
  border-bottom: 1px solid $gray-300;
  margin: 0 -1*$spacer-4;
  display: flex;
  justify-content: space-between;
  color: $text-muted;
  align-items: center;
  box-sizing: content-box;
  min-height: $font-size-sm * 1.5;

  .spinner {
    margin: 0 auto;
  }
}

.ticketDetails {
  &:first-child {
    margin-top: 0;
  }

  dt {
    font-weight: $font-weight-bold;
    margin-bottom: 0.5rem;
  }

  dd + dt {
    margin-top: 1.75rem;
  }
}


.ticketMeta {
  background: $gray-100;
}

