.ticketSubtitle {
  display: flex;
  justify-content: space-between;
  color: $gray-600;
  padding: $spacer-3 $spacer-4;
  border-bottom: 1px solid $gray-300;
  margin: 0 -1*$spacer-4;
  font-size: $font-size-sm;

  strong {
    color: $gray-650;
  }

  // TODO: abstract this stuff
  strong, .link-muted {
    margin: 0 0.1em;
  }

  .button--icon {
    padding: to-rem(6px);
    margin: -6px -6px -4px 0;
    margin-left: .25rem;
  }
}

.statusBar {
  font-size: $font-size-sm;
  padding: $spacer-3 $spacer-4;
  border-bottom: 1px solid $gray-300;
  margin: 0 -1*$spacer-4;
  display: flex;
  justify-content: space-between;
  color: $text-muted;
  align-items: center;
  box-sizing: content-box;
  min-height: $font-size-sm * 1.5;

  .spinner {
    margin: 0 auto;
  }
}

.ticketDetails {
  &:first-child {
    margin-top: 0;
  }

  dt {
    font-weight: $font-weight-bold;
    color: theme-color("primary");
    margin-bottom: 0.5rem;
  }

  dd + dt {
    margin-top: 1.75rem;
  }
}


.ticketMeta {
  background: $gray-100;
}