.ticketList {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.ticket {
  display: table-row;
  color: $gray-600;
  font-size: $font-size-xs;
  transition: background .1s ease-in-out;

  @include hover {
    background: $gray-100;
  }
}

.ticket-cell {
  display: table-cell;
  padding: 1rem .625rem;
  border-bottom: 1px solid $gray-300;
  vertical-align: middle;

  & > .spinner {
    float: right;
  }
}

.ticket-icon {
  width: calc(24px + 1rem + .625rem);
  padding-left: 1rem;

  .icon {
    vertical-align: middle;
    color: theme-color("secondary");
  }

  @include rtl {
    padding-left: .625rem; // .ticket-cell
    padding-right: 1rem;
  }
}

.ticket-body {
}


.ticket-name {
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  a {
    color: $gray-900;

    &:hover {
      color: theme-color("primary");
    }
  }
}

.ticket--other {
  .ticket-name {
    font-weight: normal;
  }
}

.ticket-updated {
  color: $gray-600;
  margin-top: $spacer;
  display: flex;


  .icon {
    vertical-align: -3px;
  }

}

.ticket-addon {
  width: 12em;
}

.ticket-responders {
  margin-top: $spacer;
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
}

.userTag {
  min-width: 0;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}


.ticket-actions {
  width: 24px + 20px;
  padding-left: 0;
  padding-right: 0;
  vertical-align: middle;

  .dd-trigger.button--icon {
    padding: 10px;

    @include hover {
      color: theme-color("primary");
    }

    &.is-active {
      color: theme-color("primary");
    }
  }
}

.ticket-dates {
  width: 10em;

  .ticket-deadline {
    color: $gray-500;
    margin-top: $spacer-1;
  }
}


