.titleBar {
  padding: $spacer-4 0;
  border-bottom: 2px solid $gray-700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: to-rem(50px);
  box-sizing: content-box;
}

.titleBar-title {

  .icon {
    margin-right: .75rem;
    vertical-align: -4px;

    @include rtl {
      margin-left: .75rem;
      margin-right: 0;
    }
  }

  [class^="icon-"] {
    fill: theme-color("secondary");
  }
}

.titleBar-action {
  display: flex;
}

.titleBar-search {
  flex: 0 1 500px;
}

.ticketSearch {
  display: flex;
  align-items: center;

  input {
    flex: 1 1 auto;
  }

  .button--link {
    flex: 0 0 auto;
    font-weight: $font-weight-bold;
    padding-left: $spacer;
    padding-right: $spacer;
    margin-left: $spacer;
  }
}