.titleBar {
  padding: $spacer-4 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleBar-title {

  .icon {
    margin-right: .75rem;
    vertical-align: -4px;

    @include rtl {
      margin-left: .75rem;
      margin-right: 0;
    }
  }
}

.titleBar-action {
  display: flex;
}
