<div class="activity-headline">
  <span class="iconContainer"><i class="fa fa-user-times" /></span>
  <strong>{{data.responderUser.displayName}}</strong>
  was unassigned at
  <time datetime={{data.createdAt}} title={{moment-format data.createdAt 'LLL'}}>
    {{moment-format data.createdAt 'h:mm A, DD MMM YYYY'}}
  </time>
</div>