<div class="cover cover--header">
<div class="wrapper">

  {{#link-to "new" class="btn btn-primary  pull-right"}}New request{{/link-to}}
  <h1 class="cover-title">My requests</h1>

  <div class="navTabs">
    <a href class="navTabs-item is-active">
      Open
      <span class="label">42</span>
    </a>
    <a href class="navTabs-item">
      Closed
      <span class="label">3</span>
    </a>
  </div>

</div>
</div>

<div class="cover cover--content">
<div class="wrapper">

{{#each model as |data|}}
  <div class="ticket">
    <h4 class="ticket-name">{{#link-to "view" data.id}}{{data.displayName}}{{/link-to}}</h4>
    <p>{{data.type}}</p>
  </div>
{{/each}}

</div>
</div>
