{{#if loadAll.isRunning}}
  <tr><td class="statsTable-spinner" colspan="9">{{ui-spinner}}</td></tr>
{{/if}}

{{#each datasets as |set|}}
  {{#unless set.taskInstance.isRunning}}

  {{#stats-datatable total=set.total processedStats=set.processedStats}}
    {{#link-to 'browse' (query-params country=set.id page=1) class="link-muted"~}}
      {{country-name set.id}}
    {{~/link-to}}
  {{/stats-datatable}}
  {{/unless}}
{{/each}}