{{loading-slider isLoading=loading duration=250}}
<nav class="appNav">
  <div class="wrapper">
    <div class="appNav-links">
      {{#if (can "manage tickets")}}
        {{#link-to 'browse' class="appNav-item"}}Index{{/link-to}}
        {{#link-to 'reporting' class="appNav-item"}}Reporting{{/link-to}}
      {{/if}}
    </div>
    <div class="appNav-switcher">
      {{i18n-switch
        locales=activeLocales
        currentLocale=lang
        switchLocale=(action 'switchLocale')
      }}
    </div>
  </div>
</nav>
{{outlet}}
