{{loading-slider isLoading=loading duration=250}}
<nav class="appNav">
  <div class="wrapper">
    <div class="appNav-links">
      <!-- {{#link-to 'browse' class="appNav-item" hidden=true}}Requests{{/link-to}} -->
    </div>
    <div class="appNav-switcher">
      {{i18n-switch
        locales=activeLocales
        currentLocale=lang
        switchLocale=(action 'switchLocale')
      }}
    </div>
  </div>
</nav>
{{outlet}}
