{{#with (changeset record Validations) as |buffer|}}
  <form {{action "save" buffer on="submit"}}>
    {{#validated-input
      tagName=''
      defaultField=(not (or addSubscriber.isRunning disable))
      inputId='subscriber-email'
      inputClass='bl-0 br-0 bt-0 bb b--moon-gray'
      placeholder=(t 'ticket.subscriber.emailPlaceholder')
      showErrors=false
      buffer=buffer
      property='email'
    }}
      {{ui-spinner class="spinner--mimicButton"}}
    {{/validated-input}}

    {{#unless (or addSubscriber.isRunning disable)}}
      <a class="link b" {{action 'save' buffer}} data-test-add-subscriber>
        {{~t 'actions.add'~}}
      </a>
    {{/unless}}
  </form>
{{/with}}
