{{#if isOpen}}
  {{#modal-dialog
    containerClass=(concat "dd-container" " " class)
    onClose=(action close)
    tetherTarget=(concat "#" uuid)
    targetAttachment=targetAttachment
    attachment=attachment
    hasOverlay=false
    renderInPlace=(eq ENV.environment 'test')
    clickOutsideToClose=true}}
    <div class="dd-content">
      {{#if headerText}}
        <div class="dd-header">
          <span>{{headerText}}</span>
          <button class="button button--icon button--dark" {{action close}}>{{icon "x"}}</button>
        </div>
      {{/if}}
      {{yield}}
    </div>
  {{/modal-dialog}}
{{/if}}