{{#if isOpen}}
  {{#tether-dialog
    container-class="dd-container"
    close=(action close)
    target=(concat "#" uuid)
    targetAttachment=targetAttachment
    attachment=attachment
    hasOverlay=false
    renderInPlace=false
    clickOutsideToClose=true}}
    <div class="dd-content">
      {{#if headerText}}
        <div class="dd-header">
          <span>{{headerText}}</span>
          <button class="iconButton" {{action close}}><i class="fa fa-close"></i></button>
        </div>
      {{/if}}
      {{yield}}
    </div>
  {{/tether-dialog}}
{{/if}}