<nav class="mainNav t-sm t-muted">
  <div class="wrapper">
    <a href="{{parentMeta.rootURL}}" class="mainNav-logo t4 t-light">
      <img width="32" height="32" src="{{parentMeta.rootLogo}}" />
      <span>{{parentMeta.rootName}}</span>
      <abbr>ID</abbr>
    </a>
  </div>
</nav>

<div class="wrapper">
  {{#no-results title=(t 'errors.routeError.title') data-test-error-template=true}}
    {{t 'errors.routeError.body' }}
  {{/no-results}}
</div>